# конфиги 
.env


# базы данных
*.db
*.sqlite3

# Python (кэш и временные файлы)
__pycache__/
*.py[cod]
*$py.class
*.pyc

# виртуальные окружения
.venv/
venv/
ENV/
env/

# временные файлы редакторов 
*~
*.swp
.DS_Store

# настройки IDE (рекомендуется скрыть) 
.vscode/
.idea/